<%- include('partials/header') %>
<body>
  <form action='/' method='POST' autocomplete='off'>
    End: <input type='text' name='end'>
    Skill: <input type='text' name='skill'>
    <button type='submit'>Save</button>
  </form>
  <a href="/">Back to list of skills</a>
</body>
<%- include('partials/footer') %>